@page
@model SafariGo.Api.Pages.ResetPasswordModel
@{
}
<html>
<head>
    <title>Reset Password</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        a {
            text-decoration: none;
            color: #fff;
        }

        .navbar {
            background: black;
            padding: 15px;
        }

        .container {
            padding: 0 20px;
          
        }
        nav{
            display: flex;
        }

        .list {
            flex: 2;
            display: flex;
            justify-content: flex-end;
            list-style: none;
            gap: 10px
        }
        .form{
           position:absolute;
           top:50%;
           left:50%;
           transform:translate(-50%,-50%);
           padding:35px 25px;
            border: 1px solid #ddd;
            border-radius:5px;
        }
        input{
            display:block;
            border: 1px solid lightgray;
            border-radius:5px;
            padding:10px 15px;
            outline-color: #7d8b2e;
        }
        .field{
            margin-bottom:15px;
        }
        .btn{
            background-color: #7d8b2e;
            border:none;
            border-radius:5px;
            padding:15px 10px;
            width:100%;
            color:#fff;
            cursor:pointer;
        }
    </style>
</head>
<body>
    
    <div class="form">
        <div class="container">
            <img style="width:220px;height:220px;border-radius:5px; margin-bottom:20px" src="https://res.cloudinary.com/see-jordan/image/upload/v1683900521/logo3_cleanup_etuxec.png" />
            <h2 style="margin-bottom:20px">Reset Password</h2>
            <form action="api/Authentication/resetPassword" method="post">
                <div class="field">
                    <label style="margin-bottom:10px ;display:block">@Request.Query["email"]</label>
                    <input type="hidden"  name="Email" value="@Request.Query["email"]" />
                    <input type="hidden"  name="Token" value="@Request.Query["token"]" />
                </div>
                <div class="field">
                    <label style="margin-bottom:10px ;display:block">New Password</label>
                    <input type="password" placeholder="New Password" name="Password" />
                </div>
                <div class="field">
                    <label style="margin-bottom:10px ;display:block">Confirm Password</label>
                    <input type="password" placeholder="Confirm Password" name="ConfirmPassword" />
                </div>
                <div class="field">
                    <button class="btn" type="submit">Reset</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>